.aboutme-container {

    background:white;   
    width: 100vw;
    height:80vh;
    position: relative;
    left:0;
    display: block;
    align-items: center;
    font-size: 10vh;
    font-stretch: expanded;
    text-align: center;
    font-weight: bolder;
    
    
}
.title{
    letter-spacing: 1vw;
    padding-top: 3%;
}

.aboutme-text {
    font-weight: normal;
    font-size: 25px;
    vertical-align: middle;
    display: inline-block;
    width: 50%;
    height: auto;


}

.profilepic{   
    vertical-align: middle; 
    display: inline-block;
    margin: auto 0;
    height: 40vh;
    width: 40vh;
    border-radius:50%;
}

.textandpic{
    display: block;
    padding: 3% 5% 5% 5%;
    margin:0 auto;
    text-align: center;
    position: relative;

}