.background {
 

    background-image: url('citysky.jpg');
    height:100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top:180vh;
    position:absolute;
    -webkit-animation: fadein 4s;
    padding:0;
    line-height: 80px;
    display:block;
    float: none;
    z-index: -1;
    overflow:hidden;
    overflow-x: hidden;
    background-attachment: fixed;

}


.experience-container{
    width: 100vw;
    height: 100vh;
    display: block;
    text-align: center;
}

.whiteContainer-experience{
    
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    color:transparent;  
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    animation: fadein 4s;
    -webkit-animation: fadein 4s;
    -webkit-user-select: none;
    background-image: linear-gradient(to top, rgba(252, 182, 193, .3), rgba(150, 161, 181,.3));
    display: inline-flex;
    align-items: center;
    height: auto;
    margin:10% auto 0 auto;
    width: auto;
    padding: 1% 3% 1% 3%;
    margin-bottom: 10vh;
}
.subtext{
    font-size: 50px;
}
