.experience-container {
  background: black;

  width: 100vw;
  height: 100vh;
  display: block;
  overflow: hidden;
}
.boxcontainers {
  position: absolute;
  font-family: "Karla", sans-serif;
  font-size: 25px;
  margin-top: -5vh;
  margin-left: 3vw;
  -webkit-animation: slide 3s;
  width: 10vw;
  z-index: 10;
  height: 100%;
}

.spiral {
  z-index: -0;
  height: 25%;
  width: 15%;
  opacity: 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(spiral.png);
  position: absolute;
  top: 40vh;
  left: 50vw;
  border-radius: 50%;
  z-index: 1;

  -webkit-animation: spin 5s infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}
.rock {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 25%;
  width: 15%;
  opacity: 0.2;
  right: -50vw;
  top: -80vh;
  position: absolute;
  background-image: url(rock.png);
  -webkit-animation: fall 8s infinite;
  -webkit-animation-timing-function: linear;
  z-index: 0;
  overflow: hidden;
}
.rock2 {
  right: -60vw;
  transform: rotate(-45deg);
  top: -80vh;
  animation-delay: 3s;
  overflow: hidden;
}

.rock3 {
  right: -30vw;
  top: -80vh;
  animation-delay: 6s;
  overflow: hidden;
}
.rock4 {
  right: -40vw;
  top: -80vh;
  animation-delay: 9s;
  overflow: hidden;
}
@keyframes fall {
  0% {
    opacity: 0.8;
    transform: rotate(-50deg) translateX(100vh) rotate(0deg);
  }
  50% {
    opacity: 0.8;

    transform: rotate(-7deg) translateX(-120vh) rotate(0deg);
  }
  100% {
    opacity: 0.8;

    transform: rotate(-100deg) translateX(-340vh) rotate(0deg);
  }
}

@keyframes spin {
  0% {
    opacity: 1;
    transform: rotate(0deg) translate(0vw) rotate(0deg);
  }
  20% {
    transform: rotate(10deg) translate(10vw) rotate(-5deg);
  }
  40% {
    transform: rotate(20deg) translate(-10vw) rotate(0deg);
  }
  60% {
    transform: rotate(-20deg) translate(10vw) rotate(5deg);
  }
  80% {
    transform: rotate(0deg) translate(5vw) rotate(-10deg);
  }
  100% {
    opacity: 1;

    transform: rotate(0deg) translate(0vw) rotate(0deg);
  }
}

.whiteContainer-experience {
  font-size: 70px;
  font-weight: bolder;
  text-align: center;
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  animation: fadein 4s;
  -webkit-animation: fadein 4s;
  -webkit-user-select: none;

  display: inline-flex;
  align-items: center;
  height: auto;
  margin: 10% auto 0 auto;
  width: auto;
  padding: 1% 3% 1% 3%;
  margin-bottom: 10vh;
}
.subtext {
  font-size: 50px;
}
